.button {
  min-width: 100px;
  min-height: 40px;
  margin-bottom: 1em;
  padding: 5px;
  border: none;
  border-radius: 4px;
  outline: none;
  color: white;
  cursor: pointer;

  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;

  &:not(:last-of-type) {
    margin-right: 1em;
  }

  &:hover,
  &:focus {
    background-color: blue;
    transform: scale(1.1);
  }
}

.closeButton {
  position: absolute;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}
